<footer>
  <div class="container">
    <div class="footer__media">
      <ul class="nav--media nav--footer footer__links">
        <li class="nav-item">
          <a href="{{{ footer.link-twitter }}}" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>

        <li class="nav-item">
          <a href="{{{ footer.link-linkedin }}}" target="_blank"><i class="fa fa-linkedin"></i></a>
        </li>

        <li class="nav-item">
          <a href="{{{ footer.link-facebook }}}" target="_blank"><i class="fa fa-facebook"></i></a>
        </li>

        <li class="nav-item">
          <a href="{{{ footer.link-dribbble }}}" target="_blank"><i class="fa fa-dribbble"></i></a>
        </li>

        <li class="list-divider"></li>

        <li class="nav-item">
          <a href="{{{ footer.link-behance }}}" target="_blank"><i class="fa fa-behance"></i></a>
        </li>

        <li class="nav-item">
          <a href="{{{ footer.link-github }}}" target="_blank"><i class="fa fa-github"></i></a>
        </li>

        <li class="nav-item">
          <a href="{{{ footer.link-codepen }}}" target="_blank"><i class="fa fa-codepen"></i></a>
        </li>

        <li class="nav-item">
          <a href="{{{ footer.link-angellist }}}" target="_blank"><i class="fa fa-angellist"></i></a>
        </li>

        {{!-- <li class="nav-item">
          <a href="{{{ footer.link-instagram }}}" target="_blank"><i class="fa fa-instagram"></i></a>
        </li> --}}

        <li class="nav-item">
          <a href="{{{ footer.link-mail }}}"><i class="fa fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
